<%= form_for :session, :url => session_path, :html => { :class => "nice" } do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email, :type => "email", :class => "input-text" %>
  </div>
  <div class="text_field">
    <%= form.label :password %>
    <%= form.password_field :password, :class => "input-text" %>
  </div>
  <div class="submit_field">
    <%= form.submit "Sign in", :class => "nice small radius grey button" %>
  </div>
<% end %>
