<%= form_for @product_category do |f| %>
  <% if @product_category.errors.any? %>
    <div class="row">
      <div id="error_explanation" class="twelve columns">
        <h3><%= pluralize(@product_category.errors.count, "error") %> prohibited this product category from being saved:</h3>

        <ul>
        <% @product_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="six columns">
      <fieldset>
        <h5>Basic</h5>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "input-text" %>
        
        <%= f.label :parent_category %>
        <%= f.collection_select(:parent_category_id, ProductCategory.find_all_by_parent_category_id(nil), :id, :name, { :include_blank => "---" }) %>
      </fieldset>
      <%= f.submit %>
    </div>
    
    <div class="six columns">
      <h5>Information</h5>
      <p></p>
    </div>
  </div>
<% end %>
