<% content_for :title do %>
  Product Categories
<% end %>

<div class="row">
  <div class="five columns">
    <h2>List</h2>
  </div>
  <div class="seven columns">
    <p id="actionBar">
      <%= link_to "New", new_product_category_path %>
    </p>
  </div>
</div>

<div class="row">
  <div class="twelvecol last">
    <table>
      <thead>
        <th>Name</th>
        <th>Parent category</th>
        <th></th>
      </thead>

      <% counter = 1 %>
      <% @product_categories.each do |product_category| %>
        <tr>
          <td><%= link_to product_category.name, product_category %></td>
          <td>
            <% if product_category.parent_category != nil %>
              <%= link_to product_category.parent_category.name, product_category.parent_category %>
            <% else %>
              ---
            <% end %>
          </td>
          <td class="right">
            <%= link_to "Edit", edit_product_category_path(product_category) %> | 
            <%= link_to "Delete", product_category, confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
        <% counter = counter + 1; %>
      <% end %>
    </table>
  </div>
</div>
