<% if @product.errors.any? %>
  <div class="row">
    <div id="error_explanation" class="twelvecol last">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for(@product) do |f| %>
  <div class="row">
    <div class="six columns">
      <fieldset>
        <h5>Basic</h5>
          <%= f.label :code %>
          <%= f.text_field :code %>
          <%= f.label :product_category %>
          <%= f.collection_select(:product_category_id, ProductCategory.all, :id, :name) %>
          <%= f.label :product_type %>
          <%= f.select(:product_type, ["Stockable Product", "Non-Stockable Product", "Service"].map { |t| [t, t] }) %>
        </p>
        <p>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </p>
      </fieldset>
    </div>
    
    <div class="six columns">
      <fieldset>
        <h5>Picture</h5>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
      </fieldset>
    </div>
  </div>
  
  <div class="row">
    <div class="six columns">
      <fieldset>
        <h5>Price</h5>
        <%= f.label :price %>
        <%= f.text_field :price %>
      </fieldset>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <%= f.submit %>
    </div>
  </div>
<% end %>
