<% content_for :title do %>
  Listing Products
<% end %>

<p><%= link_to 'New Product', new_product_path %></p>

<h2>List</h2>
<table>
  <thead>
    <th>Code</th>
    <th>Category</th>
    <th>Type</th>
    <th></th>
    <th></th>
  </thead>

  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.code, product %></td>
      <td><%= link_to product.product_category.name, product.product_category %></td>
      <td><%= product.product_type %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>
