<% content_for :title do %>
  Product
<% end %>

<div class="row">
  <div class="twelvecol last">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="fivecol">
    <h2>Information</h2>
  </div>
  <div class="sevencol last">
    <p id="actionbar">
      <%= link_to products_path do %>
        <%= image_tag "16/document_page_previous.png" %>
      <% end %>
      <%= link_to edit_product_path(@product) do %>
        <%= image_tag "16/page_edit.png" %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="fourcol">
    <p>Code:</p>
    <h3><%= @product.code %></h3>

    <p>Category:</p>
    <h4><%= link_to @product.product_category.name, @product.product_category %></h4>

    <p>Type:</p>
    <h4><%= @product.product_type %></h4>
  </div>
  <div class="fourcol">
    <p>Description:</p>
    <p><%= @product.description %></p>
  </div>
  <div class="fourcol last">
    <p>Picture:</p>
    <p><%= image_tag @product.picture.url %></p>
  </div>
</div>
