<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8" />
  <title>StockIO</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body lang="en">
  <% flash.each do |key, value| %>
    <div class="flash_<%= key %>"><%= value %></div>
  <% end %>  
  
  <div class="container" id="logoBar">
    <div class="row">
      <div class="five columns">
        <h1><%= link_to "StockIO", "/" %></h1>
      </div>
      
      <div class="seven columns">
        <% if signed_in? %>
          <p>
            <%= current_user.email %>
            <%= link_to "Home", "/" %> | 
            <%= link_to "Products", products_path %> | 
            <%= link_to "Sign out", sign_out_path, :method => :delete %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="twelve columns" id="pageTitle">
        <h2><%= yield :title %></h2>
      </div>
    </div>
    
    <%= yield %>
    
    <div class="row">
      <div class="twelve columns" id="pageFooter">
        <p>This application is brought to you by My Digital Paw.</p>
      </div>
    </div>
  </div>
</body>
</html>
