<!DOCTYPE html>
<html>
<head>
  <title>StockIO</title>
  <%= stylesheet_link_tag "reset", "text", "960", "layout", "nav" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container_16">
    <div class="grid_16">
      <h1 id="branding">
        <%= link_to "StockIO", "/" %>
      </h1>
    </div>
    <div class="clear"></div>
    <div class="grid_16">
      <ul class="nav main">
        <li>
          <%= link_to "Product", "/" %>
          <ul>
            <li><%= link_to "Categories", product_categories_path %></li>
          </ul>
        </li>
        <li>
          <a href="../../../12/">Fluid 12-column</a>
          <ul>
            <li>
              <a href="../../../12/fluid/mootools/">MooTools</a>
            </li>
            <li>
              <a href="../../../12/fluid/jquery/">jQuery</a>
            </li>
            <li>
              <a href="../../../12/fluid/none/">No Javascript</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="../../../16/">Fluid 16-column</a>
          <ul>
            <li>
              <a href="../../../16/fluid/mootools/">MooTools</a>
            </li>
            <li>
              <a href="../../../16/fluid/jquery/">jQuery</a>
            </li>
            <li>
              <a href="../../../16/fluid/none/">No Javascript</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="../../../12/fixed/">Fixed 12-column</a>
          <ul>
            <li>
              <a href="../../../12/fixed/mootools/">MooTools</a>
            </li>
            <li>
              <a href="../../../12/fixed/jquery/">jQuery</a>
            </li>
            <li>
              <a href="../../../12/fixed/none/">No Javascript</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="../../../16/fixed/">Fixed 16-column</a>
          <ul>
            <li>
              <a href="../../../16/fixed/mootools/">MooTools</a>
            </li>
            <li>
              <a href="../../../16/fixed/jquery/">jQuery</a>
            </li>
            <li>
              <a href="../../../16/fixed/none/">No Javascript</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://symphony-cms.com/discuss/thread/231/">Download / Forum</a>
          <ul>
            <li>
              <a href="http://github.com/bauhouse/fluid960gs/tree/">Download: Github</a>
            </li>
            <li>
              <a href="http://github.com/bauhouse/sym-fluid960gs/tree/">Symphony Ensemble</a>
            </li>
            <li>
              <a href="http://symphony-cms.com/discuss/thread/231/">Forum Discussion</a>
            </li>
          </ul>
        </li>
        <li class="secondary">
          <a href="http://960.gs/" title="960.gs | A CSS grid system developed by Nathan Smith">The 960 Grid System</a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="grid_16">
      <h2 id="page-heading"><%= yield :title %></h2>
    </div>
    <div class="clear"></div>
    <%= yield %>
    <div class="clear"></div>
    <div class="grid_16" id="site_info">
        <div class="box">
          <p>StockIO, created by <%= link_to "PAW", "/" %>, with inspiration from <%= link_to "inFlow Inventory Software", "http://www.inflowinventory.com/" %> by <%= link_to "Archon System Ic.", "http://www.archonsystems.com/" %>. Released under the 
    <a href="../../../licenses/GPL_license.txt">GPL</a> / <a href="../../../licenses/MIT_license.txt">MIT</a> <a href="../../../README.txt">Licenses</a>.</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <%= javascript_include_tag "jquery", "jquery-ui", "jquery-fluid16" %>
</body>
</html>
