<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8" />
  <title>StockIO</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body lang="en">
  <div class="container" id="logo">
    <div class="row">
      <div class="fivecol">
        <h1><%= link_to "StockIO", "/" %></h1>
      </div>
      
      <div class="sevencol last">
        <ul id="nav">
          <li><%= link_to "Home", "/" %></li>
          
          <li>
            <%= link_to "Products", "/" %>
            <ul>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Categories", product_categories_path %></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  
  <h2><%= yield :title %></h2>
  <%= yield %>
</body>
</html>
